.flex{
  display: inline-flex;
  flex-direction: column;
  width: 500px;
  background: #0000005e;
  padding: 20px;
  border-radius: 10px;
}

.mainContainer{
  height: calc(100vh - 100px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  text-transform: uppercase;
  font-family: 'Rubik Mono One';
  color: var(--primary);
  text-align: center;
}

mat-spinner{
  align-self: center;
}

.forget_password{
  margin-top: 10px;
  }


