<mat-progress-bar *ngIf="showprogressBar" mode="indeterminate"></mat-progress-bar>

<h1 class="title" matDialogTitle>Forget Password</h1>
<div matDialogContent>
  <h3>To reset your password , enter Your Mail to Send a link to your Mail</h3>
<form [formGroup]="fg">
    <mat-form-field color="primary"  appearance="fill">
      <mat-label >Email</mat-label>
      <input formControlName="email" matInput placeholder="Enter your Email">
      <mat-error *ngIf="fg.get('email')!.errors?.['required']">
        Please Fill this Field</mat-error>
        <mat-error *ngIf="fg.get('email')!.errors?.['email']">
          This Invalid Email!!!</mat-error>
      </mat-form-field>

  <div style="text-align: center;">
    <button #refButton (click)="ForgetPassword(refButton)" color="accent"  mat-raised-button>Send To Mail</button>
    <button mat-raised-button  (click)="cancelRequest()" [mat-dialog-close]="false" color="primary">Cancel</button>
  </div>
</form>
</div>
