.footer{
    width: 100%;
    text-align: center;
    background: var(--primary);
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed;
    bottom: 0; 
    height: 150px;
    */
}
@media (max-width:769px) {
    .footer{
        flex-direction: column;
    }
    .footer .contact a .icon{
        font-size: 2rem !important;
    }
}
.footer .contact{
padding: 15px;
}

.footer .contact a .icon{
    color: #ffffff;
    background-color: var(--warn);
    padding: 2px 10px;
    font-size: 4rem;
    border-radius: 10px;
    transition: all .3s;
    margin-right: 15px;
    cursor: pointer;
}
.footer .contact a .icon:hover{
    background: white;
}
.footer .contact a.facebook .icon:hover{
    /* color: var(--primary); */
    color: rgb(0, 128, 255);
}

.footer .contact a.whatsapp .icon:hover{
    /* color: var(--primary); */
    color: rgb(0, 191, 10);
}