<app-top-page 
    title="دورات البسيخومتري">
</app-top-page>

<div class="course">
    <div class="right">
        <div class="sub-title">
            ما هو البسيخومتري:
        </div>
        <div class="summary show-me">
            يتكون مستوى ד من 100 ساعة أكاديمية, يتوسع فيها الطالب بتعلم مفردات اللغة العبرية وقواعدها من كتابي בין השורות و רב פעלים, وهما كتابان معتمدان في الجامعة العبرية.
        </div>
       <div class="summary show-me">
        الإمتحان مركب من ثلاثة مواد: اللغة الإنجليزية، موضوع الكمي، وموضوع الكلامي بالاضافة الى كتابة موضوع إنشاء باللغة العربية، وتكون مدة الإمتحان أربع ساعات تقريبا.
يعتبر امتحان البسيخومتري المفتاح الرئيسي للدخول للمؤسسات التعليمية، فالمطلوب من الطالب هو النجاح في التوجيهي أو البجروت أو السنة التحضيرية المخصّصة في المدرسة (كالجي. سي. إي) أو السنة التحضيرية الجامعيّة، ومن ثمّ النجاح في امتحان البسيخومتري لكي يحصل على مفتاح البوابة الجامعية.
       </div>
       <div class="sub-title">
        لمحة بسيطة عن نتائج وإستراتيجية تفكير معهد اوميغا:
       </div>

       <div class="summary show-me">
        معهد اوميغا حصد الكثير من العلامات بعد اول مشوار له، ونزع معهد أوميغا تلك الفكرة المعروفة بأن إمتحان البسيخومتري صعب التخطي ولا يمكن إجتيازه، وبفضل الله وعلى أيادي طلاب وطالبات المعهد أثبت عكس ذلك، وحصد الكثير من طلاب المعهد علامتهم من أول امتحان ولم يكتفوا بالتمني، والآن هم من أوائل الطلاب الذين تم قبولهم للجمعات والكليات في البلاد.
من أجل الحصول على العلامة المنشودة على الطالب المتابعة المستمرة لمواد التعليم، ومتابعة الوظائف البيتية على أكمل وجه، وحل كم هائل من الأسئلة و تلقي جميع الأسئلة النارية من المعهد.
       </div>
       <div class="summary show-me">
        مسار السنة التحضيرية "أوميغا جولد" هو المسار الأفضل والأنجع للطالب من أجل التحضير الأكاديمي والاجتماعي للجامعات والكليات الإسرائيلية."
       </div>

       <div class="sub-title">
        ماذا يقدم معهد أوميغا وكيف يجسد المعهد كل ما ذكر على أرض الواقع:
       </div>
       <div class="summary show-me">
        1. معلمين ذو كفاءات عالية (مدرسين من الجامعة العبرية مع علامة لا تقل عن 720 وخبرة لاتقل عن 8 سنوات في مجال تطوير المناهج البسيخومترية وتدريسها).
       </div>
       <div class="summary show-me">
        2. كتب خاصة بالمعهد تجمع المواد المطلوبة للإمتحان محتلنة مع تحديثات المركز القطري بعينه.
       </div>
       <div class="summary show-me">
        3. أكثر من 170 ساعة دراسية - ساعات للدراسة وساعات للتدريب.
       </div>
       <div class="summary show-me">
        4. فيديوهات مصورة وشرح مفصل لجميع المواضيع متاحة للطالب عن طريق موقع أوميغا ويب بحيث يستطيع الطالب مشاهدة ومراجعة المواد من بيته عن طريق هاتفه او حاسوبه.
       </div>
       <div class="summary show-me">
        5. مراتونات وامتحانات حقيقيّة وأخرى طوّرها معهد أوميغا، وتهيئة جوّ امتحان حقيقي تجريبي للطالب لفحص القدرات الذهنية والنفسية وكيفية التعامل معها لاحقاً.
       </div>
       <div class="summary show-me">
        6. جلسات فردية ومتابعة خاصة لكل طالب.
       </div>
        <button class="main-button" mat-raised-button (click)="{}">سجل معنا</button>
    </div>

    <div class="left">
        <img class="img-1" src="../../../../../assets/images-guest/thinking.jpeg" alt="">
        <img class="img-1" src="../../../../../assets/images-guest/services-1.jpg" alt="">
    </div>
</div>