<mat-toolbar [ngClass]="{'justyCenter':!authService.IsLogIn()}" color="primary">

      <!-- <img routerLink="home" class="logo" src="../../../assets/images/logo.png" alt="Omega Academy"> -->
      <a routerLink="home"><h1 class="logo">Omega Academy</h1></a>

    <div *ngIf="authService.IsLogIn()"  class="menuItems">
      <a (click)="item.title=='Logout'?authService.LogOut():{}" *ngFor="let item of menuItems" mat-button routerLink="{{item.href}}">
        {{item.title}}<mat-icon>{{item.icon}}</mat-icon></a>

      <!-- <a mat-button>About Us<mat-icon>contact_support</mat-icon></a> -->

      <button *ngIf="menuItems!=[]" class="btnSmallMenu" mat-fab (click)="drawer.toggle()">
          <mat-icon class="mat-18">menu</mat-icon>
      </button>
    </div>

</mat-toolbar>
<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a (click)="drawer.toggle()" (click)="item.title=='Logout'?authService.LogOut():{}" *ngFor="let item of menuItems" mat-button routerLink="{{item.href}}">
      {{item.title}}<mat-icon>{{item.icon}}</mat-icon></a>
  </mat-drawer>
</mat-drawer-container>

