<!-- <mat-toolbar [ngClass]="{'justyCenter':!authService.IsLogIn()}" color="primary"> -->
<mat-toolbar color="primary">
  <img routerLink="home" class="logo" src="../../../assets/images/logo.png" alt="Omega Academy">
  <div *ngIf="authService.currentUserSub|async" class="menuItems">

    <a (click)="item.title=='Logout'?authService.LogOut():{}" *ngFor="let item of menuItems" mat-button
      routerLinkActive="active-link"
      routerLink="{{item.href}}" [ngStyle]="{'color':item.value?'black':''}">
      {{item.title}}
      <mat-icon>{{item.icon}}</mat-icon>
      <span class="num-unread-messages" *ngIf="item.value">
        {{item.value}}
      </span>
    </a>
    <button *ngIf="menuItems!=[]" class="btnSmallMenu" mat-fab (click)="drawer.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
  </div>

</mat-toolbar>
<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a (click)="drawer.toggle()" (click)="item.title=='Logout'?authService.LogOut():{}" *ngFor="let item of menuItems"
      mat-button routerLink="{{item.href}}" routerLinkActive="active-link active-phone-link">
      {{item.title}}<mat-icon>{{item.icon}}</mat-icon>
      <span class="num-unread-messages-phone" *ngIf="item.value">
        {{item.value}}
      </span>
    </a>
  </mat-drawer>
</mat-drawer-container>
