:host {
  background-color: red;
}

.titleContainer{
  padding: 30px !important;
  background-color: var(--warn);
  margin-top: 30px;
}
.titleContainer h1{
float: left;
line-height: 0;
font-weight: bold ;
}
.titleContainer button{
  float:right;
  top: -29px;
  color: white;
}
table.myTable thead tr {
  /* background: grey !important; */
}

table.myTable tr {
  /* background: crimson; */
}

table.myTable tr:hover {
  /* background: cornflowerblue;
  cursor: pointer; */
}

table.myTable td textarea {
  color: black;
  resize: none;
  max-width: calc(100% - 160px);
}

@media (max-width:992px) {

  /* remove hover  */
  table.myTable tr:hover {}

  ::ng-deep table.myTable thead {
    display: none !important;
  }

  ::ng-deep table.myTable tbody tr,
  ::ng-deep table.myTable tbody td {
    display: block;
  }

  ::ng-deep table.myTable tbody td {
    position: relative;
  }

  ::ng-deep table.myTable tbody tr {
    /* position: relative; */
    height: auto !important;
    border: grey solid;
    border-radius: 5px;
    padding: 10px;
  }

  /* show title before td */
  ::ng-deep table.myTable tbody tr td::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 120px;
    text-align: start;
    font-weight: bold;
  }

  ::ng-deep table.myTable tbody tr td {
    padding: 0 !important;
    text-align: center;
  }

  ::ng-deep table.myTable tbody tr td button *,
  ::ng-deep table.myTable tbody tr td button,
  ::ng-deep table.myTable tbody tr td a {
    width: 30px !important;
    height: 30px !important;
    /* line-height: 0 !important; */
  }

  ::ng-deep table.myTable tbody tr td .mat-fab .mat-button-wrapper {
    display: inline;
  }

  ::ng-deep table.myTable tbody tr td a span {
    padding: 0 !important;
  }

  ::ng-deep table.myTable tbody tr:not(table.myTable tbody tr:last-child) {
    margin-bottom: 1rem;
  }
}


@media (max-width:768px) {
  table.myTable {}
}
