
.titleContainer{
  padding: 30px !important;
  background-color: var(--warn);
  margin-top: 30px;
}

.titleContainer h1{
float: left;
line-height: 0;
font-weight: bold ;
}

.titleContainer button{
  float:right;
  top: -29px;
  color: white;
}

.container-spinner{
display: flex;
justify-content: center;
background: #222;
}

table.myTable thead tr {
  /* background: grey !important; */
}

table.myTable tr {
  /* background: crimson; */
}

table.myTable tr:hover {
  /* background: cornflowerblue;
  cursor: pointer; */
}

table.myTable td textarea:disabled {
  color: black;
  resize: none;
  max-width: calc(100% - 160px);
}

table.myTable td textarea{
  background: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  resize: none;
      margin: 10px 0;
}

table.myTable td img{
  cursor: zoom-in;
}
mat-radio-group{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
mat-radio-group mat-radio-button{
  font-weight: bold;
}
.container-saveAllButton{
  text-align: center;
  margin-top: 10px;
}
.container-saveAllButton button{
  width: 40%;
}
@media (max-width:992px) {

  /* remove hover  */
  table.myTable tr:hover {}

  ::ng-deep table.myTable thead {
    display: none !important;
  }
  ::ng-deep table.myTable thead tr th{
    font-size: 18px ;
    font-weight: bold;
  }

  ::ng-deep table.myTable tbody tr,
  ::ng-deep table.myTable tbody td {
    display: block;
  }

  ::ng-deep table.myTable tbody td {
    position: relative;
  }

  ::ng-deep table.myTable tbody tr {
    height: auto !important;
    border-bottom: var(--warn) dashed;
    padding: 10px;
    /* width: 115%; */
  }

  /* show title before td */
  ::ng-deep table.myTable tbody tr td::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 135px;
    text-align: start;
    font-weight: bold;
  }

  ::ng-deep table.myTable tbody tr td {
    padding: 0 !important;
    text-align: center;
  }

  ::ng-deep table.myTable tbody tr td button *,
  ::ng-deep table.myTable tbody tr td button,
  ::ng-deep table.myTable tbody tr td a {
    width: 30px !important;
    height: 30px !important;
    /* line-height: 0 !important; */
  }

  ::ng-deep table.myTable tbody tr td .mat-fab .mat-button-wrapper {
    display: inline;
  }
  ::ng-deep table.myTable tbody tr td textarea{
    width: 60%;
  }
  ::ng-deep table.myTable tbody tr td a span {
    padding: 0 !important;
  }

  /* ::ng-deep table.myTable tbody tr:not(table.myTable tbody tr:last-child) {
    margin-bottom: 1rem;
  } */

  /* center buttons of group radio of Attendance */
  mat-radio-group{
    justify-content: center;
  }
}


@media (max-width:768px) {
  table.myTable {}
}
