<div class="footer">
    <div class="first-row show-me">
        <div class="black-title">
            للمزيد من المعلومات , لا تتردد بالتواصل معنا
        </div>
        <button class="main-button" mat-raised-button routerLink="contact-us">اتصل بنا</button>
    </div>
    <div class="second-row">
       <div class="col1">
            <div routerLink="main" class="logo">
                <img src="../../../../assets/images-guest/newlogow.png">
            </div>
            <div class="social">
                <a target="_blank" [href]="configuration_Site.facebookPage">
                <fa-icon [size]="'2x'" [icon]="faFacebook"></fa-icon>
                </a>
                <a target="_blank" [href]="configuration_Site.instaPage">
                <fa-icon  [size]="'2x'" [icon]="faInstagram"></fa-icon>
                </a>
            </div>
       </div>
       <div class="col2">
        <div class="summary">
            تأسس معهد أوميغا عام 2009 في القدس، ليساهم في تلبية حاجة المجتمع المقدسي في تعلم اللغة العبرية بطريقة صحيحة. منذ ذلك الوقت تخرج من المعهد ما يزيد عن 3000 طالب وطالبة في المسارات المختلفة. يقدم المعهد خدمة تعليم اللغة العبرية كلغة ثانية عن طريق أساليب تعليم حديثة، متدرجة و ملائمة للمجتمع المقدسي.
        </div>
       </div>
       <div class="col3">
        <div class="links">
            <div class="black-title">
                روابط مهمة
            </div>
            <ul>
                <li><a routerLink="about-us">من نحن</a></li>
                <li><a routerLink="about-us">دوراتنا</a></li>
                <li><a routerLink="about-us">أخبارنا</a></li>
                <li><a routerLink="about-us">تواصل معنا</a></li>
            </ul>
        </div>
         </div>
    <div class="col4 show-me">
        <div class="contacts">
            <div class="phone">
                <mat-icon>phone_in_talk</mat-icon>
                <a href="tel:025326484">025326484</a>
            </div>
            <div class="mail">
                <mat-icon>contact_support</mat-icon>
                <a href="mailto:info@omega-academy.net">info@omega-academy.net</a>
            </div>
            <div class="location">
                <mat-icon>my_location</mat-icon>
                القدس - الشيخ جراح - مبنى الشابات - الطابق الرابع - بجانب كلية هند الحسيني 
            </div>
        </div>
    </div>
    </div>
    <div class="summary created">
        2022 - Copyright © All Rights Reserved By Omega Academy | Created by Momotan
    </div>
</div>