<h1 class="title"  matDialogTitle>Add Top Slider Image</h1>
<div matDialogContent>
  <form [formGroup]="fg!">

  <mat-form-field class="m-1" appearance="fill">
    <mat-label>Title</mat-label>
    <input autocomplete="off"  formControlName="title"  matInput>
    <mat-error *ngIf=" fg.get('title')!.hasError('required')">
      Please Fill this Field</mat-error>
  </mat-form-field>

  <mat-form-field class="m-1" appearance="fill">
    <mat-label>Order</mat-label>
    <input type="number" autocomplete="off"  formControlName="order"  matInput>
    <mat-error *ngIf=" fg.get('order')!.hasError('required')">
      Please Fill this Field</mat-error>
  </mat-form-field>

  <div class="BtnFilesContainer" >
    <input class="BtnFiles" formControlName="image" #refFiles multiple type="file" value="Send Files">
    <mat-error *ngIf=" fg.get('image')!.hasError('required')">
       Please Select an Image</mat-error>
  </div>

  <div style="text-align: center;">
    <button style="margin-right: 10px;" mat-raised-button (click)="SaveUser(refFiles.files)"  color="accent">Save</button>
  <button mat-raised-button [mat-dialog-close]="false" color="primary">Cancel</button>
  
  </div>
</form>

</div>

