
.PostHomeWork mat-radio-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #1868d8;
  color: white;
  font-weight: bold;
  overflow-y: auto;
}


.BtnFilesContainer{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  padding: 20px;
  color: white;
  background: var(--primary);
  text-align-last: center;
  position: relative;
  cursor: pointer;
  flex: 1;
}
.BtnFiles::after{
  position: absolute;
  content: "Choose Files To Send";
  color: white;
  text-align: center;
  font-size: 1rem;
  left: 0;
  background: #1868d8;
  width: 100%;
  top: 0;
}

.BtnFiles::file-selector-button{
  color: white;
  font-size: 1rem;
  background: #1868d8;
  padding: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.FilesList .removeFile{
  text-decoration: line-through wavy 2px red
}
.FilesList button{

}
.my-fab{
  position: absolute;
  right: 11px;
}
::ng-deep .my-fab{
  width: 28px;
  height: 28px;
}
::ng-deep .my-fab .mat-button-wrapper {
  padding: 2px 0 !important;
  line-height: 16px !important;
  width: 24px !important;
  height: 16px !important;
}
::ng-deep .my-fab .mat-button-wrapper .mat-icon {
  font-size: 16px;
  padding-right: 4px;
  line-height: 16px;
}
.FilesList mat-list{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.Actions{
  display: flex;
  gap: 20px;
}
.Actions button{
  flex: 1;
  font-weight: bold;
  font-size: 1rem;
  color: white;
}
