<app-top-page 
    title="أوميغا جولد – السنة التحضيرية">
</app-top-page>

<div class="course">
    <div class="right">
        <div class="summary show-me">
            " التحدي الأول الذي يواجهه الشباب المقدسي بعد مرحلة تعلم الثانوية وقبل دخول معترك الحياة الأكاديمية هو تعلم اللغة العبرية. في سنة 2005 تخرجت من التوجيهي وواجهني تحدي تعلم اللغة العبرية ودراسة البسيخومتري
        </div>
        <div class="summary show-me">
            لم يكن الأمر بالسهل. بفضل الله وحمده استطعت تخطي هذه التحديات بنجاح والآن أدير معهد أوميغا وأعلم اللغة العبرية في المعهد وفي الجامعة العبرية وأكمل مسيرة تعلم الماجستير في قسم اللغة العبرية في نفس الجامعة. في المعهد نقدم لطالبنا النصائح والتوجيهات اللازمة من أجل تخطي هذه التحديات بناءاً على تجاربنا الشخصية.
        </div>
        <div class="summary show-me">
            في مسار السنة التحضيرية يقدم معهدنا رزمة متكاملة من المساقات التي تمتد على مدار سنة كاملة يتعلم فيها الطالب اللغة العبرية الأكاديمية والبسخوميتري وأساسيات الكتابة الجامعية في إطار داعم ومرافقة دائمة حتى القبول الجامعي. إضافة الى ما ذكر, يقدم المعهد للطالب العضوية في نادي الطلبة والذي يوفر الإطار الإجتماعي الذي من خلاله سيستطيع الطالب المشاركة في البرامج التطوعية والتعرف على ذاته وصقل شخصيته من خلال ورشات العمل والتعلم الذي يبادر لها نادي الطلبة.
        </div>
        <div class="summary show-me">
            مسار السنة التحضيرية "أوميغا جولد" هو المسار الأفضل والأنجع للطالب من أجل التحضير الأكاديمي والاجتماعي للجامعات والكليات الإسرائيلية."
        </div>
        <div class="summary show-me">
            يركز هذا المستوى على قطف ثمار تعلم اللغة العبرية في المستويات السابقة عبر التشديد على مهارتي التكلم والكتابة من أجل ضمان استخدام اللغة العبرية بالطريقة القصوى والصحيحة.
        </div>
        <div class="summary show-me signature">
            أ خالد سلهب – مدير المعهد
        </div>
        
        <div class="summary show-me">
            مشروع أوميغا الجولد - السنة التحضيرية في معهد أوميغا يقدم لك رزمة السنة التحضيرية والتي تؤهلك لإجتياز امتحانات القبول للجامعات والكليات الإسرائيلية المختلفة, والتي تشمل:
        </div>
        <div class="summary show-me">
            1. اللغة العبرية الأكاديمية - 4 مستويات (א', ב', ג', ד') بواقع 630 ساعة تعليمية على مدار سنة كاملة بالإضافة إلى دورة تحضير لإمتحان ياعيل والتي تؤهل الطالب لمرور الإمتحان.
        </div>
        <div class="summary show-me">
            2. دورة التحضير لإمتحان البسيخومتري والتي تشمل 170 ساعة + إتاحة جميع الحصص مصورة ومسجلة لجميع الطلاب بأي وقت للمراجعة والتعويض. أو دورة التحضير لإمتحان تيل.
        </div>
        <div class="summary show-me">
            3. دورة مهارات القراءة والكتابة الجامعية والتي تعتبر مساق أساسي في السنة الأولى لمعظم التخصصات الجامعية.
        </div>
        <div class="summary show-me">
            4. دورة التحضير لأمتحان مستوى اللغة الإنجليزية أميرام.
        </div>
        <div class="summary show-me">
            5. المرافقة الدائمة وتقديم الإستشارة للتسجيل للجامعة أو الكلية المختارة وزيارة المؤسسات التعليمية المختلفة والمساعدة في تعبئة النماذج وتوثيق الشهادات من قبل وزارة التربية الإسرائيلية.
        </div>
        <div class="summary show-me">
            6. العضوية في Omega students' club - نادي الطلاب في معهد أوميغا والذي ينظم المبادرات المجتمعية التطوعية ويركز على صقل شخصية الطالب الاجتماعية وتحديد الميول الأكاديمي والمهني من خلال ورشات خاصة.
        </div>
        <button class="main-button" mat-raised-button routerLink="/contact-us">سجل معنا</button>
    </div>

    <div class="left">
        <img class="img-1" src="../../../../../assets/images-guest/services-2.jpg" alt="">
    </div>
</div>