:host{
    position: relative;
}

svg{
    margin-bottom: -3%;
}
.title-page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    text-align: center;
}

@media (max-width:768px) {
    .title-page{
        font-size: 20px;
    }
}