
.describe{
    height:180px;
    background-color: transparent;
    color: var(--primary);
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    resize: none;
    font-size: 18px;
    font-weight: bold;
}

.image-container{
    text-align: center;
    background: #607d8b;
    margin-bottom: 5px;
    padding-bottom: 17px;
}

.image-container h3{
    font-weight: bold;
    font-size: 25px;
    color: white;
}


.BtnFilesContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  
  .BtnFilesContainer .BtnFiles{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    padding: 20px;
    color: white;
    background: var(--primary);
    text-align-last: center;
    position: relative;
    cursor: pointer;
    flex: 1;
  }
  .BtnFilesContainer .BtnFiles::after{
    position: absolute;
    content: "Choose An Image";
    color: white;
    text-align: center;
    font-size: 1rem;
    left: 0;
    background:var(--warn);
    width: 100%;
    top: 0;
  }
  
  .BtnFilesContainer .BtnFiles::file-selector-button{
    color: white;
    font-size: 1rem;
    background:var(--warn);
    padding: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }