<h1 class="title">Messages</h1>

<div class="mainContainer">
  <div class="left ">
    <mat-form-field  class="input-full-width" appearance="fill">
      <mat-label>Search for Contact...</mat-label>
      <input #refSearch (keyup)="FilterContacts(refSearch,refClearIcon,refSearchIcon)" matInput >
      <mat-icon #refSearchIcon matPrefix >search</mat-icon>
      <mat-icon (click)="ClearSearchContact(refSearch,refClearIcon,refSearchIcon)" class="hidden" #refClearIcon matPrefix >clear</mat-icon>

    </mat-form-field>

    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let user of filteredFreinds">
          <mat-card >
        <button mat-button (click)="SetResiver(user)">
            <mat-card-header>
              <div mat-card-avatar class="avatar-image">
                <img src="./../../assets/images/profile.svg" alt="User Avatar">
              </div>
              <mat-card-title>{{user.firstName+" "+user.lastName}}</mat-card-title>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
            </mat-card-header>
        </button>
          </mat-card>
      </mat-list-item>
      <mat-list-item *ngFor="let group of filteredGroups">
          <mat-card >
        <button mat-button (click)="SetResiver(group)">
            <mat-card-header>
              <div mat-card-avatar class="avatar-image">
                <img src="./../../../assets/images/group.png" alt="User Avatar">
              </div>
              <mat-card-title>{{group.name}}</mat-card-title>
              <mat-card-subtitle>{{group.course!.name}}</mat-card-subtitle>
            </mat-card-header>
        </button>
          </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="receiver" class="right">
    <div class="messages">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-image">
            <img [src]="image" alt="User Avatar">
          </div>
          <mat-card-title>{{title}}</mat-card-title>
          <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="listMessages">
          <div [ngStyle]="{'direction':msg.senderId==httpAuth.currentUser.id?'rtl':'ltr'}" *ngFor="let msg of msgs"
            class="containerMessage">
            <mat-card [ngClass]="msg.senderId==httpAuth.currentUser.id?'sender-message':'reciver-message'"
              class="message">
              <button (click)="DeleteMesssage(msg.id!)" *ngIf="msg.senderId==httpAuth.currentUser.id"
                class="mat-fab mat-accent deleteMessage">
                <mat-icon>close</mat-icon>
              </button>
              <h3 class="mail" *ngIf="msg.senderId!=httpAuth.currentUser.id">
                {{msg.sender!.firstName+"~"+msg.sender!.email}}
              </h3>
              <h3 class="content" *ngFor="let content of msg.contents?.split('\n')">
                {{content}}
              </h3>
              <mat-card-subtitle>
                {{GetCustomDate(msg.sendingDate!)}}
              </mat-card-subtitle>
              <div class="arrow" [ngClass]="msg.senderId==httpAuth.currentUser.id?'sender-arrow':'reciver-arrow'"></div>
            </mat-card>
          </div>
          <div *ngIf="msgs.length==0">
            Start Chat Now
          </div>
        </mat-card-content>
        <mat-card-actions class="actions">
          <form [formGroup]="fg">
            <mat-form-field appearance="outline">
              <mat-label>Write A Message Here</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" #inputMessage
                formControlName="message" class="inputSend" matInput></textarea>
              <mat-icon (click)="SendMessage(inputMessage)" matPrefix>
                send
              </mat-icon>
            </mat-form-field>
          </form>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div *ngIf="!receiver" class="welcomeContainer">
    <mat-card>
      <h2>Welcome to Chat Room</h2>
      <h3>Select Member To Start Chating</h3>
      <mat-icon>chat_bubble</mat-icon>
    </mat-card>
  </div>
</div>
