:host{
  --sender-message-color:#f2b427;
  --reciver-message-color:#7583d1;
}

.mainContainer{
  display: flex;
  width: 100%;
  height: 67vh;
}
.mainContainer .welcomeContainer{
  width: 100%;
}
.mainContainer .left,.mainContainer .right .listMessages{
  overflow-y: auto;
  overflow-x: hidden;
  height: 67vh;
  padding: 0.6rem;
  padding: 12px 9px;
}

.mainContainer .welcomeContainer mat-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainContainer .left mat-list mat-list-item{
  margin-bottom: 3rem;
}

.mainContainer .left mat-list mat-list-item mat-card{
  padding: 9px 10px;
  width: 100%;
}
.mainContainer .left mat-list mat-list-item mat-card .avatar-image img{
  height: 100%;
  width: 100%;
}


.mainContainer .left mat-list mat-list-item button{
  line-height: 1;
  width: 100%;
}


.mainContainer .right{
  width: 100%;
}
.mainContainer .right .inputSend{
width: 100%;
}
.mainContainer .right .messages .containerMessage{
  padding: 0px 10px;
}
.mainContainer .right .messages .message{
  margin-bottom: 10px;
  width: max-content;
  position: relative;
  padding: 0 16px  0 30px;

}
.mainContainer .right .messages .message .deleteMessage{
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  top: -12px;
  left: -7px;
}
.mainContainer .right .messages .message .deleteMessage mat-icon{
  font-size: 17px;
  font-weight: bold;
}
.mainContainer .right .messages .message .deleteMessage .mat-button-wrapper{
  display: none;
}
.mainContainer .right .messages .message .content{
margin:0
}
.mainContainer .right .messages .message .mail{
  font-weight: bold;
  margin: 0;
}
/* .mainContainer .right .messages .message .time{
  line-height: 1;
  margin: -15px;
  margin-right: -3px;
} */
.mainContainer .right .messages .message .arrow{
  position: absolute;
  content: '';
}
.mainContainer .right .messages .message .reciver-arrow{
  bottom: 1px;
  left: -38px;
  border: solid 19px var(--reciver-message-color);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
}
  .mainContainer .right .messages .message .sender-arrow{
  bottom: 1px;
  right: -38px;
  border: solid 19px var(--sender-message-color);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}
.sender-message{
  background-color: var(--sender-message-color);
}
.reciver-message{
  background-color: var(--reciver-message-color);
}

.mainContainer .right .actions mat-form-field{
  width: 100%;
}
.mainContainer .right .actions mat-icon{
  cursor: pointer;
}


@media (max-width:992px) {
  .mainContainer{
    display: unset;
  }
  .mainContainer .left{
    height: auto;
  }
  .mainContainer .left mat-list{
    display: flex;
    overflow: auto;
  }
  .mainContainer .right mat-card mat-card-content{
    height: 42vh;
  }
}
