:host{
  --sender-message-color:var(--primary);
  --reciver-message-color:var(--warn);
}

.mainContainer{
  display: flex;
  width: 100%;
  height: 67vh;
  gap: 10px;
}
.mainContainer .welcomeContainer{
  width: 100%;
}
.mainContainer .right .listMessages{
  overflow-y: auto;
  overflow-x: hidden;
  height: 50vh;
  padding: 16px 9px ;
}
.mainContainer .right .listMessages mat-card h3,
.mainContainer .right .listMessages mat-card mat-card-subtitle
{
  color: white;
}
.mainContainer .welcomeContainer mat-card{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.mainContainer .welcomeContainer mat-card mat-card-container{
  height: 70%;
}
.mainContainer .left{
  height: auto;
}
.mainContainer .left .contacts{
  padding: 8px;
  border-bottom: 1px solid;
}
.mainContainer .left mat-list{
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 89%;
}
.mainContainer .left mat-list mat-list-item{
  margin-bottom: 2rem;
}

::ng-deep .mainContainer .left mat-list mat-list-item .mat-list-item-content{
padding: 0 !important
}
.mainContainer .left mat-list mat-list-item mat-card{
  padding: 9px 10px;
  width: 100%;
}
.avatar-image img{
  height: 100%;
  width: 100%;
}


.mainContainer .left mat-list mat-list-item button{
  line-height: 1;
  width: 100%;
}


/* Start right container Message */
.mainContainer .right {
  width: 100%;
  height: 100%;
}

.mainContainer .right .inputSend {
  width: 100%;
}

.mainContainer .right .messages{
  height: 100%;
}
.mainContainer .right .messages mat-card{
  height: 100%;
}
.mainContainer .right .messages mat-card mat-card-header{
  background-color: #e3e3e3;
  padding: 5px 0 0 5px;
  border-radius: 15px;
  color: var(--warn);
}
.mainContainer .right .messages mat-card mat-card-actions{
  padding: 0 !important;
  margin: 0 !important;
}
.mainContainer .right .messages mat-card mat-card-actions textarea{
  max-height: 45px !important;
  min-height: 42px !important;
}
.mainContainer .right .messages mat-card mat-card-actions mat-form-field{
 margin-top: -16px;
}
.mainContainer .right .messages .containerMessage {
  padding: 0px 10px;
}

.mainContainer .right .messages .message {
  margin-bottom: 10px;
  width: max-content;
  position: relative;
  padding: 0 16px 0 30px;
  font-weight: bold !important;
}

.mainContainer .right .messages .message .deleteMessage {
  width: 24px !important;
  height: 23px !important;
  position: absolute;
  top: -13px;
  left: -8px;
}

.mainContainer .right .messages .message .deleteMessage mat-icon {
  font-size: 17px;
  font-weight: bold;
}

.mainContainer .right .messages .message .deleteMessage .mat-button-wrapper {
  display: none;
}

.mainContainer .right .messages .message .content {
  margin: 0;
  font-weight: bold;
}

.mainContainer .right .messages .message .mail {
  font-weight: bold;
  margin: 0;
}

/* .mainContainer .right .messages .message .time{
  line-height: 1;
  margin: -15px;
  margin-right: -3px;
} */
.mainContainer .right .messages .message .arrow {
  position: absolute;
  content: '';
}

.mainContainer .right .messages .message .reciver-arrow {
  bottom: 1px;
  left: -38px;
  border: solid 19px var(--reciver-message-color);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
}

.mainContainer .right .messages .message .sender-arrow {
  bottom: 1px;
  right: -38px;
  border: solid 19px var(--sender-message-color);
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}

.mainContainer .right .actions mat-form-field {
  width: 100%;
}

.mainContainer .right .actions mat-icon {
  cursor: pointer;
}
.mainContainer .right .actions .sendMessageIcon{
  display: flex;
  flex-direction: row-reverse;
}
/* Start Emoji Tables */
.mainContainer .right emoji-mart{
  position: absolute;
  bottom: 88px;
  padding: 10px;
  right: 0;
}
::ng-deep .mainContainer .right emoji-mart .emoji-mart{
  width: 100% !important;
}
/* End Emoji Tables */

/* End right container Message */


.sender-message{
  background-color: var(--sender-message-color);
}

.reciver-message{
  background-color: var(--reciver-message-color);
}


@media (max-width:992px) {
  ::ng-deep body{
    overflow-y: auto !important;
  }
  .mainContainer{
    display: unset;
  }
  .mainContainer .left{
    height: auto;
  }
  .mainContainer .left mat-list{
    display: flex;
    overflow: auto;
  }
  .mainContainer .right mat-card mat-card-content{
    height: 42vh;
  }
  .mainContainer .right emoji-mart{
    bottom: 129px;
  }
}
