<h1 class="title">
  Messages
</h1>
<div class="mainContainer">
  <div class="left ">
    <mat-form-field class="input-full-width" appearance="fill">
      <mat-label>Search for Contact...</mat-label>
      <input class="search-contact" #refSearch (keyup)="FilterContacts(refSearch,refClearIcon,refSearchIcon)" matInput>
      <mat-icon #refSearchIcon matPrefix>search</mat-icon>
      <mat-icon (click)="ClearSearchContact(refSearch,refClearIcon,refSearchIcon)" class="hidden" #refClearIcon
        matPrefix>clear</mat-icon>

    </mat-form-field>

    <div *ngIf="showSpinnerContacts" class="spinner-loading-contacts">
      <mat-spinner
      [diameter]="35"
    ></mat-spinner>
    </div>
   

    <mat-list>
      <mat-list-item *ngFor="let group of filteredGroups">
        <mat-card>
          <button mat-button (click)="SetResiver(group)">
            <mat-card-header>
              <div mat-card-avatar class="avatar-image">
                <img #refImage [src]="GetImageProfile(group)"
                      alt="User Avatar"
                     (error)="ShowDefultImage(refImage)"
                      >
              </div>
              <mat-card-title>{{group.name}}</mat-card-title>
              <mat-card-subtitle>{{group.course!.name}}</mat-card-subtitle>
              <div class="num-unread-messages" *ngIf="CountUnreadMessages(group)">
                {{CountUnreadMessages(group)}}
                 <mat-icon style="font-size:19px">
                  mark_email_unread
                  </mat-icon>
              </div>
            </mat-card-header>
          </button>
        </mat-card>
      </mat-list-item>
    <mat-divider></mat-divider>

      <mat-list-item *ngFor="let user of filteredFreinds">
        <mat-card>
          <button mat-button (click)="SetResiver(user)">
            <mat-card-header>
              <div mat-card-avatar class="avatar-image">
                <img
                #refImage
                [src]="GetImageProfile(user)"
                alt="User Avatar"
                (error)="ShowDefultImage(refImage,false)"
                >
              </div>
              <mat-card-title>{{user.firstName+" "+user.lastName}}</mat-card-title>
              <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
              <div class="num-unread-messages" *ngIf="CountUnreadMessages(user)">
                {{CountUnreadMessages(user)}}
                 <mat-icon style="font-size:19px">
                  mark_email_unread
                  </mat-icon>
              </div>


            </mat-card-header>
          </button>
        </mat-card>
      </mat-list-item>



    </mat-list>
  </div>

  <div [ngClass]="!receiver?'hidden':''" class="right">
    <div class="messages">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-image">
            <img #refImage (click)="ShowPopUPImage(receiver)"
            [src]="imageContact"
            alt="User Avatar"
            (error)="ShowDefultImage(refImage,false,true)"
            >
          </div>
          <mat-card-title>{{title}}</mat-card-title>
          <mat-card-subtitle>{{subTitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content #refListMessages class="listMessages">
         <!-- <div class="spinner-previous-messages-container">
          <mat-spinner
        >
        </mat-spinner>
         </div> -->

          <div [ngStyle]="{'direction':msg.senderId==httpAuth.currentUser.id?'rtl':'ltr'}" *ngFor="let msg of msgs"
            [ngClass]="{'unread-message':!msg.isOpened && msg.senderId!=httpAuth.currentUser.id}"
            class="containerMessage"
            id="{{msg.id}}"
            >
            <mat-card [ngClass]="{
              'sender-message': msg.senderId==httpAuth.currentUser.id,
              'reciver-message':msg.senderId!=httpAuth.currentUser.id
            }" class="message">
              <button (click)="DeleteMesssage(msg.id!)" *ngIf="msg.senderId==httpAuth.currentUser.id"
                class="mat-fab mat-accent deleteMessage">
                <mat-icon>close</mat-icon>
              </button>
              <h3 class="mail" *ngIf="msg.senderId!=httpAuth.currentUser.id">
                {{msg.sender!.firstName+"~"+msg.sender!.email}}
              </h3>
              <h3 [ngStyle]="{'direction':msg.senderId==httpAuth.currentUser.id?'ltr':'ltr'}" class="content"
                *ngFor="let content of msg.contents?.split('\n')">
                {{content}}
              </h3>
              <mat-card-subtitle [ngStyle]="{'direction':msg.senderId==httpAuth.currentUser.id?'rtl':'ltr'}">
                {{
                IsMessageSentToday(msg.sendingDate)?
                (msg.sendingDate!|date:'shortTime'):
                (msg.sendingDate!|date:'short')
              }}
              </mat-card-subtitle>
              <div class="arrow" [ngClass]="msg.senderId==httpAuth.currentUser.id?'sender-arrow':'reciver-arrow'"></div>
            </mat-card>
          </div>
          <!-- <div *ngIf="!msgs.length">
            Start Chat Now

          </div> -->
          <mat-spinner class="spinner-messages"
          *ngIf="ShowSpinner" [diameter]="50">
          </mat-spinner>

          <div *ngIf="receiver && CountUnreadMessages(receiver)" class="scroll-down-to-unread-messages">
            <button
            color="primary"
             (click)="ScrollingDownListMessage()"  mat-fab>
              {{CountUnreadMessages(receiver)}}
              <mat-icon>
                markunread
              </mat-icon>
            </button>
          </div>
        </mat-card-content>
        <mat-card-actions class="actions">
          <form [formGroup]="fg">
            <mat-form-field appearance="outline">
              <mat-label>Write A Message Here</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" #inputMessage
                formControlName="message" class="inputSend" matInput></textarea>
              <div class="sendMessageIcon">
                <mat-icon (click)="SendMessage(inputMessage)" matPrefix>
                  send
                </mat-icon>
                <mat-icon (click)="ShowEmogiTable(refemojiTable)" matPrefix>
                  face
                </mat-icon>
              </div>
            </mat-form-field>
          </form>
        </mat-card-actions>
        <emoji-mart [ngClass]="hideEmojiTable?'hidden':''" [showPreview]="false" #refemojiTable set="google"
          (emojiClick)="ShowImogy($event,inputMessage)"></emoji-mart>
      </mat-card>
    </div>
  </div>

  <div *ngIf="!receiver" class="welcomeContainer">
    <mat-card>
      <h2>Welcome to Chat Room</h2>
      <h3>Select Member To Start Chating</h3>
      <mat-icon>chat_bubble</mat-icon>
    </mat-card>
  </div>

</div>
