

<app-my-table
#refTable
[title]="'HomeWork'"
[AddRowParent]="addRowParent"
[DeleteRowParent]="DeleteRow"
[EditRowParent]="EditRow"
[FilterPredicateParent]="FilterPredicateParent"
[getDataTable]="this.homeWorkService
.GetHomeWorkByTeacherId(this.authService.currentUser.id!)"
[displayedColumns]="displayedColumns"
[displayedNameColumns]="displayedNameColumns"
[operations]="[true,true,true]"
[detailsComonentUrl]="'HomeWorkDetails'"
>
</app-my-table>
<!-- <div>
  <h1>HomeWork List:</h1>
  <mat-divider>
  </mat-divider>
<div class="SendedHomeWork">
  <mat-card *ngFor="let hw of homeworks">
    <mat-card-header>
        <mat-card-title>{{hw.title}}</mat-card-title>
        <mat-card-subtitle>{{hw.sendingDate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        {{hw.contents}}
    </mat-card-content>
    <mat-card-actions>
      <button color="primary" mat-button [routerLink]="'/HomeWorkDetails/'+hw.id">
        Show Details
      </button>
    </mat-card-actions>
</mat-card>
</div>
</div> -->

