*{
  transition: all .3s;
}

.container{
  padding: 50px;
}

@media (max-width:992px) {
  .container{
    padding: 20px;
  }
}


@media (max-width:768px) {
  .container{
    padding: 0;
  }
}

/* Start Dialog style */
::ng-deep mat-dialog-container {
  width: 500px;
}

::ng-deep mat-dialog-container mat-form-field{
width: 100%;
}
/* Start Dialog style */
::ng-deep mat-select mat-option{
  color: red;
}


