*{
  transition: all .3s;
}

::ng-deep .btn_add_row_table{
  font-weight: bold;
}


/* Start Container Style */
.container{
  padding: 50px;
}

@media (max-width:992px) {
  .container{
    padding: 20px;
  }
}


@media (max-width:768px) {
  .container{
    padding: 0;
  }
}
/* End Container Style */

/* Start Dialog style */
::ng-deep mat-dialog-container {
  height: auto !important;
}

::ng-deep mat-dialog-container mat-form-field{
width: 100%;
}
/* Start Dialog style */
::ng-deep mat-select mat-option{
  color: red;
}

/* Start List Style */
::ng-deep mat-list{
  background: gray;
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 0;
  font-weight: bold;
}
::ng-deep mat-list mat-list-item:not(
  ::ng-deep mat-list mat-list-item:last-child
  ):after{
  content: "";
  width: 100%;
  border: solid 1px white;
  bottom: 0;
  position: absolute;
}
/* End List Style */


