*{
  transition: all .3s;
}

::ng-deep .btn_add_row_table{
  font-weight: bold;
}


/* Start Container Style */
.container{
  padding: 50px;
}

@media (max-width:992px) {
  .container{
    padding: 20px;
  }
}


@media (max-width:768px) {
  .container{
    padding: 0;
  }
}
/* End Container Style */

/* Start Dialog style */
::ng-deep mat-dialog-container {
  width: 500px;
}

::ng-deep mat-dialog-container mat-form-field{
width: 100%;
}
/* Start Dialog style */
::ng-deep mat-select mat-option{
  color: red;
}


