<h1 class="title" matDialogTitle>Add New Grade</h1>

<div class="matDialogContent" matDialogContent>
  <form [formGroup]="fg">

    <app-select-with-search
    #refSelectGroup
      [label]="'Select a Group'"
      [config]="{'value':'id',
                'displayBy':'name'}"
      [getDataParent]="GetGroups"
      [messageError]="'Please Select a Group'"
      [propsArr]="['name']"
      
    >
    </app-select-with-search>


    <app-select-with-search
    #refSelectStudent
      [label]="'Select a Student'"
      [config]="{'value':'id',
                'displayBy':'firstName'}"
      [getDataParent]="GetStudents"
      [messageError]="'Please Select a Student'"
      [propsArr]="['firstName','idCard','email']"
    >
    </app-select-with-search>

    <app-select-with-search
    #refSelectTest
      [label]="'Select a Test'"
      [config]="{'value':'id',
                'displayBy':'name'}"
      [getDataParent]="GetTests"
      [messageError]="'Please Select a Test'"
    >
    </app-select-with-search>



  <mat-form-field class="m-1" appearance="fill">
    <mat-label>Grade</mat-label>
    <input type="number" formControlName="sumGrade"  matInput >
    <mat-error *ngIf="fg.get('sumGrade')!.errors?.['required']">
      Please Fill this Field</mat-error>
      <mat-error *ngIf="fg.get('sumGrade')!.errors?.['max']">
        Grade Must Be less than or equal 800</mat-error>
      <mat-error *ngIf="fg.get('sumGrade')!.errors?.['min']">
        Grade Must Be bigger than or equal 0</mat-error>
  </mat-form-field>


  <mat-form-field class="m-1" appearance="fill">
    <mat-label>Note</mat-label>
    <input formControlName="note"  matInput >
    <mat-error *ngIf="fg.get('note')!.errors?.['required']">
      Please Fill this Field</mat-error>
  </mat-form-field>



  <div style="text-align: center;">
    <button style="margin-right: 10px;" mat-raised-button (click)="SaveRecord()"  color="accent">Save</button>
  <button mat-raised-button [mat-dialog-close]="false" color="primary">Cancel</button>
  </div>
</form>

</div>

