.our-staff .black-title,
.our-staff .summary
{
    text-align: center;
}

.our-staff .container-staff{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}


.our-staff  .staff{
    position: relative;
    height: 500px;
    width: 400px;
    padding: 0 8px;
}
.our-staff  .staff:hover 
.thumbnail img{
    transform: scale(1.05);
}
.our-staff  .staff:hover 
.name{
   background-color: black;
}
.our-staff  .staff:hover 
.about{
    padding-top: 10px;
}
.our-staff  .staff .thumbnail {
    width: 100%;
    height: 80%;
}
.our-staff  .staff .thumbnail img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.our-staff  .staff .name{
    position: absolute;
    bottom: 22%;
    right: 10px;
    margin: auto;
    background: rgba(33,37,41,0.8);
    height: fit-content;
    padding: 19px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}

.our-staff  .staff .work{
    position: absolute;
    bottom: 20%;
    right: 42px;
    background: var(--primary);
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
}

.our-staff  .staff .about{
    color: black;
}
/* 
@media (max-width:992px) {
   .our-staff .staff{
        width: 250px;
    }
}

@media (max-width:667){
    .our-staff .staff{
        width: 400px;
    }
} */