<div class="slider show-up-1">
  <ng-image-slider [imageSize]="{width: '100%'}" [images]="imagesSlider" [lazyLoading]="true" [paginationShow]="true"
    [infinite]="true" [autoSlide]="{interval: 5, stopOnHover: false}"></ng-image-slider>
</div>


<div class="about-us">
  <div class="photo">
    <img src="../../../../assets/images-guest/sora-jama3yeh.jpg" alt="sora-jamayeha">
  </div>
  <div class="text">
    <div class="orange-title show-me">
      المعهد في سطور
    </div>
    <div class="black-title show-me">
      تأسس معهد أوميغا عام 2009 في القدس
    </div>
    <div class="summary show-me">
      ليساهم في تلبية حاجة المجتمع المقدسي في تعلم اللغة العبرية بطريقة صحيحة ، منذ ذلك الوقت تخرج من المعهد ما يزيد عن
      3000 طالب وطالبة في المسارات المختلفة. يقدم المعهد خدمة تعليم اللغة العبرية كلغة ثانية عن طريق أساليب تعليم حديثة،
      متدرجة وملاءمة للمجتمع المقدسي.
    </div>
    <div class="achevment show-me">
      <div class="graduates">
        <mat-icon>school</mat-icon>
        <div class="details">
          <div class="num">
            3000+
          </div>
          <div class="sub-title">طالب متخرج</div>
        </div>
      </div>
      <div class="staff">
        يعمل في معهد أوميغا اليوم 18 معلم ومعلمة لغة عبرية أصحاب خبرة
      </div>
    </div>
    <button class="main-button show-me" mat-raised-button (click)="{}">سجل معنا</button>
  </div>
</div>


<div class="our-services container-color">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fe8d34" fill-opacity="1"
      d="M0,128L24,138.7C48,149,96,171,144,202.7C192,235,240,277,288,272C336,267,384,213,432,160C480,107,528,53,576,80C624,107,672,213,720,218.7C768,224,816,128,864,90.7C912,53,960,75,1008,96C1056,117,1104,139,1152,160C1200,181,1248,203,1296,186.7C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
    </path>
  </svg>
  <div class="containerGuest">
    
  <div>
    <span class="orange-title show-me">
      ماذا نقدم ؟
    </span>
  </div>
  <div class="black-title show-me">
    تخصصاتنا
  </div>
  <div class="summary show-me">
    نقدم دورات اللغة العبرية بكل مستوياتها و دورات البسيخومتري -امتحان القبول للجامعات والكليات في البلاد- بأفضل المواد
    واكثر المرشدين مهنية . يهدف المعهد إلى خدمة الطلاب العرب وتحسين انجازاته والارتقاء بهم الى اعلى القمم والحصول على
    العلامة المرجوة التي تؤهّلهم الالتحاق بالمواضيع التي يرغبونها في الجامعات والمعاهد العليا.
  </div>
  <div class="services show-me">
    <div class="service">
      <div class="border">
        <span class="left-border"></span>
        <span class="bottom-border"></span>
        <span class="right-border"></span>
        <span class="top-border"></span>
      </div>
      <div class="thumbnail">
        <img src="../../../../assets/images-guest/services-1.jpg">
        <div class="black-title title-service">
          دورة اللغة العبرية - רמה א
        </div>
      </div>
      <div class="explain">
        <span class="text">
          دورة اللغة العبرية المستوى الأول
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
    </div>
    <div class="service">
      <div class="border">
        <span class="left-border"></span>
        <span class="bottom-border"></span>
        <span class="right-border"></span>
        <span class="top-border"></span>
      </div>
      <div class="thumbnail">
        <img src="../../../../assets/images-guest/services-2.jpg">
        <div class="black-title title-service">
          دورة اللغة العبرية - רמה ב
        </div>
      </div>
      <div class="explain">
        <span class="text">
          دورة اللغة العبرية المستوى الثاني
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

    </div>
    <div class="service">
      <div class="border">
        <span class="left-border"></span>
        <span class="bottom-border"></span>
        <span class="right-border"></span>
        <span class="top-border"></span>
      </div>
      <div class="thumbnail">
        <img src="../../../../assets/images-guest/services-3.jpg">
        <div class="black-title title-service">
          دورة اللغة العبرية - רמה ג
        </div>
      </div>
      <div class="explain">
        <span class="text">
          دورة اللغة العبرية المستوى الثالث
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

    </div>
    <div class="service">
      <div class="border">
        <span class="left-border"></span>
        <span class="bottom-border"></span>
        <span class="right-border"></span>
        <span class="top-border"></span>
      </div>
      <div class="thumbnail">
        <img src="../../../../assets/images-guest/services-4.jpg">
        <div class="black-title title-service">
          دورة اللغة العبرية - רמה ד
        </div>
      </div>
      <div class="explain">
        <span class="text">
          دورة اللغة العبرية المستوى الرابع
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

    </div>
    <div class="service">
      <div class="border">
        <span class="left-border"></span>
        <span class="bottom-border"></span>
        <span class="right-border"></span>
        <span class="top-border"></span>
      </div>
      <div class="thumbnail">
        <img src="../../../../assets/images-guest/services-5.jpg">
        <div class="black-title title-service">
          دورات بسيخومتري
        </div>
      </div>
      <div class="explain">
        <span class="text">
          دورات البسيخومتري متخصصة وشاملة
        </span>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

    </div>
    <div class="service">
      <div class="border">
        <span class="left-border"></span>
        <span class="bottom-border"></span>
        <span class="right-border"></span>
        <span class="top-border"></span>
      </div>
      <div class="thumbnail">
        <img src="../../../../assets/images-guest/services-6.jpg">
        <div class="black-title title-service">
          السنة التحضيرية – اوميغا جولد
        </div>
      </div>
      <div class="explain">
        <span class="text">
          دورة شاملة - البسيخومتري واللغة العبرية </span>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>

    </div>
  </div>
  </div>
</div>


<div class="our-news">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fe8d34" fill-opacity="1"
      d="M0,128L24,138.7C48,149,96,171,144,202.7C192,235,240,277,288,272C336,267,384,213,432,160C480,107,528,53,576,80C624,107,672,213,720,218.7C768,224,816,128,864,90.7C912,53,960,75,1008,96C1056,117,1104,139,1152,160C1200,181,1248,203,1296,186.7C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
    </path>
  </svg>
    <div>
      <span class="orange-title show-me">
        جديدنا
      </span>
    </div>
    <div class="black-title show-me">
      اخبارنا ونشاطاتنا
    </div>
    <div class="summary show-me">
      نقدم لكم كل ما هو جديد بخصوصنا من أخبار وجميع نشاطاتنا التعليمية والاجتماعية
    </div>
    <div class="news show-me">
      <div class="new">
        <div class="border">
          <span class="left-border"></span>
          <span class="bottom-border"></span>
          <span class="right-border"></span>
          <span class="top-border"></span>
        </div>
        <div class="thumbnail">
          <img src="../../../../assets/images-guest/new1.png">
          <button class="main-button" mat-raised-button (click)="{}">
            <span class="day">24</span>
            <span class="month">يوليو</span>
          </button>
        </div>
        <div class="explain">
          <span class="summary">
            اخبارنا و نشاطاتنا
          </span>
          <a href="#" class="black-title">
            محطات وإنجازات 2021/2022
          </a>
          <div class="read-more">
            <span>Read More</span>
            <mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </div>
      <div class="new">
        <div class="border">
          <span class="left-border"></span>
          <span class="bottom-border"></span>
          <span class="right-border"></span>
          <span class="top-border"></span>
        </div>
        <div class="thumbnail">
          <img src="../../../../assets/images-guest/new2.jpg">
          <button class="main-button" mat-raised-button (click)="{}">
            <span class="day">08</span>
            <span class="month">فبراير</span>
          </button>
        </div>
        <div class="explain">
          <span class="summary">
            اخبارنا و نشاطاتنا
          </span>
          <a href="#" class="black-title">
            بدأنا التسجيل للفصل الجديد
          </a>
          <div class="read-more">
            <span>Read More</span>
            <mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </div>
      <div class="new">
        <div class="border">
          <span class="left-border"></span>
          <span class="bottom-border"></span>
          <span class="right-border"></span>
          <span class="top-border"></span>
        </div>
        <div class="thumbnail">
          <img src="../../../../assets/images-guest/new3.jpg">
          <button class="main-button" mat-raised-button (click)="{}">
            <span class="day">18</span>
            <span class="month">يناير</span>
          </button>
        </div>
        <div class="explain">
          <span class="summary">
            اخبارنا و نشاطاتنا
          </span>
          <a href="#" class="black-title">
            جولات استخدام اللغة العبرية على أرض الواقع
          </a>
          <div class="read-more">
            <span>Read More</span>
            <mat-icon>arrow_right_alt</mat-icon>
          </div>
        </div>
      </div>
    </div>
  
</div>


<div class="our-staff">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#fe8d34" fill-opacity="1"
      d="M0,128L24,138.7C48,149,96,171,144,202.7C192,235,240,277,288,272C336,267,384,213,432,160C480,107,528,53,576,80C624,107,672,213,720,218.7C768,224,816,128,864,90.7C912,53,960,75,1008,96C1056,117,1104,139,1152,160C1200,181,1248,203,1296,186.7C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
    </path>
  </svg>
  <div>
    <span class="orange-title show-me">
      الأساتذة
    </span>
  </div>
  <div class="black-title show-me">
    الطاقم الأكاديمي
  </div>
  <div class="summary show-me">
    يعمل في معهد أوميغا اليوم 18 معلم ومعلمة لغة عبرية أصحاب خبرة، جميعهم لغتهم الأم هي العبرية و حاصلون على شهادة تأهيل
    لتعليم اللغة العبرية كلغة ثانية من الجامعة العبرية أو من كليات مختصه أخرى.
  </div>

  <div class="slider-staff show-me">
    <owl-carousel-o  [options]="options">
      <ng-container>
        <ng-template carouselSlide *ngFor="let person of staff">
          <div class="staff">
            <div class="thumbnail">
              <img [src]="person.img">
            </div>
            <div class="name show-me">{{person.name}}</div>
            <div class="work show-me">{{person.work}}</div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <button class="main-button" routerLink="/our-staff" mat-raised-button>الطاقم الأكاديمي</button>
</div>


<div class="students-opinions container-color">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fe8d34" fill-opacity="1"
          d="M0,128L24,138.7C48,149,96,171,144,202.7C192,235,240,277,288,272C336,267,384,213,432,160C480,107,528,53,576,80C624,107,672,213,720,218.7C768,224,816,128,864,90.7C912,53,960,75,1008,96C1056,117,1104,139,1152,160C1200,181,1248,203,1296,186.7C1344,171,1392,117,1416,90.7L1440,64L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z">
        </path>
      </svg>

     <div class="container">
      <div>
        <span class="orange-title ">
            ماذا قالوا عنا
        </span>
      </div>
      <div class="black-title ">
        أراء الطلبة
      </div>
<div class="container-opinions show-me">
     
    <owl-carousel-o   [options]="options2">
        <ng-container>

          <ng-template carouselSlide>
            <div class="opinion">
                <mat-icon class="orange-title">format_quote</mat-icon>
                <div class="describe">
                    المعهد كتير منيح والجو العام فيه كتير حلو مكان جدا لطيف وبنلاقي فيه جو مريح اجتماعيا واكاديميا، المعلمين جدا متعاونين وبعطوا التعليم حقه، رغم انه التعليم بالعبري حتى من بداية الدورة بس المعلمين اسلوبهم كتير حلو وبوصلوا المعلومة بطريقه حلوة، انا كتير استفدت مع اني لسه بالمستوى الأول، واكيد مكملة.
                </div>
                <div class="name black-title">شيرين فريتخ</div>
                <div class="summary">طالبة مستوى أ في المعهد</div>
             </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="opinion">
                <mat-icon class="orange-title">format_quote</mat-icon>
                <div class="describe">
                    ( اوميجا مش مجرد معهد ، اوميغا  هو بيتك التاني الي يوفر لك كل الأدوات الي بتحتاجها عشان توصل لكل أهدافك)
                </div>
                <div class="name black-title">هيفا فحام</div>
                <div class="summary">خريجة اوميغا / علوم حيوية بكلية هداسا</div>
             </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="opinion">
                <mat-icon class="orange-title">format_quote</mat-icon>
                <div class="describe">
                    المعهد صراحة ممتاز و رائع من كل النواحي و خصوصي من الناحية التعليم الي هي الاهم و الي احنا موجودين عشانها و من ناحية التعليم عن طريق فعاليات و نشاطات و الي بخلي المعلومات اضل موجودة بمخنا طول الوقت و من ناحية تعامل و روح المحبة و المشاركة و الدعم طول الوقت و جملتنا الاكيدة ( احنا مش معهد احنا عيلة )
                </div>
                <div class="name black-title">نور الجولاني</div>
                <div class="summary">سنة تحضيرية اوميغا جولد</div>
             </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="opinion">
                <mat-icon class="orange-title">format_quote</mat-icon>
                <div class="describe">
                    اصلا فش حكي ينوصفف 😍  كل شي بجنن فيكم بكفي لطافتكم معناا ❤️ ❤️ وجد جد منحسكم اصدقااء واكتر 
                    🥰  ومبسووطه كتير اني معكمم  ❤️ 🤍 وطبعا التعليم اشيي تانيي الي بدو يطلع برفكتو بكلشي بس عندكم
                    🥰 👌🏻  بتمنالكم كمانن وكمانن نجاحح واسمكم يكبر اكتر واكتر ❤️ ❤️
                </div>
                <div class="name black-title">مروة ابو خديجة</div>
                <div class="summary">سنة تحضيرية اوميغا جولد</div>
             </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
</div>
     </div>
</div>

