.flexContainer{
  display: flex;
  margin-bottom: 10px;
  height: 178px;
  column-gap: 30px;
}


.flexContainer>*{
  width: 100%;
}

.flexContainer .homeworkContent{
  background-color: white;
}
.flexContainer textarea{
  color: black;
  max-height: 150px;
  resize: none;
}
::ng-deep .submitedStudents {
  margin-top: 20px;
}
::ng-deep .submitedStudents .titleContainer{
  margin-top: 0 !important;
  color: white;
}
mat-card-title{
  text-align: center;
}
.uploaded-file{
  width: 66%;
  color: white !important;
  text-align: center;
}
@media (max-width:992px) {
  .flexContainer{
    display: block;
    height: auto;
  }
  .flexContainer>:nth-child(2){
    margin: 20px 0;
  }
  :host > *{
    text-align: center;
  }
}




.BtnFilesContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.BtnFilesContainer .BtnFiles{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  padding: 20px;
  color: white;
  background: var(--primary);
  text-align-last: center;
  position: relative;
  cursor: pointer;
  flex: 1;
}
.BtnFilesContainer .BtnFiles::after{
  position: absolute;
  content: "Choose Files To Send";
  color: white;
  text-align: center;
  font-size: 1rem;
  left: 0;
  background:var(--warn);
  width: 100%;
  top: 0;
}

.BtnFilesContainer .BtnFiles::file-selector-button{
  color: white;
  font-size: 1rem;
  background:var(--warn);
  padding: 10px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

.cancelSubmitation{
  width: 100%;
  margin: 0;
}


.submitFiles{
  margin-top: 12px;
}


