  <h1 class="title">{{homeWork.title}}</h1>
  <!-- Show info about homework -->
<div class="flexContainer">
  <mat-card>
    <mat-card-title>HomeWork Details</mat-card-title>
    <mat-divider>
    </mat-divider>
    <h2>Group:{{homeWork.group!.name}}</h2>
    <mat-divider>
    </mat-divider>
    <h2>Teacher:{{homeWork.teacher!.firstName+" "+homeWork.teacher!.lastName}}</h2>
    <mat-divider>
    </mat-divider>
    <h2>Sending Date:{{homeWork.sendingDate|date}}</h2>
  </mat-card>

  <mat-form-field *ngIf="homeWork.contents" ngClass="FullHeight" appearance="fill">
    <mat-label>HomeWork Content</mat-label>
    <textarea  placeholder="asf" disabled rows="9"  matInput [value]="homeWork.contents"></textarea>
  </mat-form-field>
</div>
  <!-- Show info about homework -->

<br>
<!-- Show files of Homework -->
<mat-card *ngIf="this.homeWork.filesPath">

  <h2 class="subTitle">
    File List:
  </h2>

  <mat-divider></mat-divider>
  <h3 style="padding:5px" *ngFor="let i=index;let path of convertPathsToArray(this.homeWork.filesPath)">
    {{getFileNameFromPath(path)}}
    <button (click)="donwloadFile(path)" mat-button>
      <mat-icon>file_download</mat-icon>
    </button>
    <mat-divider *ngIf="i<convertPathsToArray(this.homeWork.filesPath).length-1"></mat-divider>
  </h3>
</mat-card>
<!-- Show files of Homework -->


<!-- Show all Sumbited Homework students -->
<div
*ngIf="homeWork.requiredSubmit && this.authService.currentUser.roleId==2"
class="submitedStudents"
>
<br>
<mat-card>
    <h2 class="subTitle">
       Submited Students:{{submitedStudents}}/{{students.length}}
    </h2>
    <mat-divider>
    </mat-divider>
    <mat-card-content>
      <br>
  <app-my-table
  [enableAddRow]="false"
  [displayedColumns]='["idCard","firstName","lastName","email","submited"]'
  [displayedNameColumns]='["Id Card","First Name","Last Name","Email","Submited"]'
  [getDataTable]="students_behavior"
  [disableFilterOverride]="true"
  [disableSortOverride]="true"
  >
  </app-my-table>
    </mat-card-content>
</mat-card>

</div>
<!-- Show all Sumbited Homework students -->


<!-- Show Files of Current Student if login -->
<div *ngIf="this.authService.currentUser.roleId==3 &&
homeWork.requiredSubmit" class="submitFiles">
<mat-card>
      <h1 class="subTitle">Submited Files</h1>

      <mat-card-content>
        <div *ngIf="showProgressBarContainer" class="progressBarContainer">
          <h1>Uploaded {{progress}}%</h1>
          <mat-progress-bar
          mode="determinate"
          [value]="progress">
        </mat-progress-bar>
        </div>

   <!-- Show Add Files -->
        <div class="BtnFilesContainer" *ngIf="!this.currentStudent else showCancel">

          <input class="BtnFiles" #refFiles multiple type="file" value="Send Files">
          <button color="primary" mat-raised-button (click)="SendStudentFiles(refFiles.files)">Submit</button>
        </div>

      <mat-divider></mat-divider>
      <ng-template #showCancel>
         <!-- Show Cancel submitation -->
         <button class="cancelSubmitation" color="accent"  mat-raised-button (click)="CancelSubmitation()">Cancel Submitation</button>

        <!-- Show all files list -->
      <h3 style="padding:5px" *ngFor="let i=index;let path of convertPathsToArray(currentStudent.pathFiles)">
        {{getFileNameFromPath(path)}}
        <button (click)="donwloadFile(path,true)" mat-button>
          <mat-icon>file_download</mat-icon>
        </button>
        <mat-divider *ngIf="i<convertPathsToArray(currentStudent.pathFiles).length-1"></mat-divider>
      </h3>
        </ng-template>
    </mat-card-content>
</mat-card>
</div>
<!-- Show Files of Current Student if login -->


