:host{
  text-align: center;
}
.flex{
  display: inline-flex;
}
.reverse{
  flex-direction: row-reverse;
}
mat-icon{
  font-size: 2rem;
  margin-right: 10px;
  color: var(--primary);
}

.actions button:first-child{
  margin-right: 5px;
}
