<h1 class="title"  matDialogTitle>Add New User</h1>
<div matDialogContent>
  <form [formGroup]="fg!">

  <mat-form-field class="m-1" appearance="fill">
    <mat-label>Id Card</mat-label>
    <input autocomplete='off' formControlName="idCard"  matInput >

    <mat-error *ngIf="fg.get('idCard')!.errors?.['required']">
      Please Fill this Field</mat-error>

    <mat-error *ngIf="fg.get('idCard')!.errors?.['maxlength']">
      Length Must Be 9 Digits</mat-error>

    <mat-error *ngIf="fg.get('idCard')!.errors?.['minlength']">
      Length Must Be 9 Digits</mat-error>

  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input autocomplete='off'formControlName="email"  matInput>
    <mat-error *ngIf="fg.get('email')!.errors?.['required']">
      Please Fill this Field</mat-error>
    <mat-error *ngIf="fg.get('email')!.errors?.['email']">
      Invalid Email</mat-error>
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-form-field class="m-1" appearance="fill">
    <mat-label>First Name</mat-label>
    <input autocomplete='off'formControlName="firstName"  matInput>
    <mat-error *ngIf=" fg.get('firstName')!.hasError('required')">
      Please Fill this Field</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input autocomplete='off'formControlName="lastName" matInput>
    <mat-error *ngIf="fg.get('lastName')!.hasError('required')">
      Please Fill this Field</mat-error>
  </mat-form-field>
  <mat-divider></mat-divider>

  <mat-form-field class="m-1" appearance="fill" >
    <mat-label>Phone</mat-label>
    <input autocomplete='off'formControlName="phone"  matInput >
    <mat-error *ngIf="fg.get('phone')!.hasError('required')">
      Please Fill this Field</mat-error>
      <mat-error *ngIf="fg.get('phone')!.errors?.['maxlength']">
        Length Must Be 9 Digits</mat-error>
  
      <mat-error *ngIf="fg.get('phone')!.errors?.['minlength']">
        Length Must Be 9 Digits</mat-error>
  </mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Select a role</mat-label>
  <mat-select [disabled]="true" formControlName="roleId">
      <mat-option value="1">Admin</mat-option>
      <mat-option value="2">Teacher</mat-option>
      <mat-option value="3">Student</mat-option>
  </mat-select>
</mat-form-field>


  <div style="text-align: center;">
    <button style="margin-right: 10px;" mat-raised-button (click)="SaveUser()"  color="accent">Save</button>
  <button mat-raised-button [mat-dialog-close]="false" color="primary">Cancel</button>
  </div>
</form>

</div>

