
<mat-card>
    <mat-card-header>
        <div class="container-image-profile">
           <img  #refImg mat-card-lg-image matCardAvatar [src]="GetImageProfile()">
        <button color="accent" class="edit-image-profile" mat-mini-fab (click)="refFile.click()">
            <mat-icon>edit</mat-icon>
          <input mat-button  class="hidden BtnFiles" formControlName="files" #refFile type="file">
        </button>
        <button 
          *ngIf="refFile.files?.length"
          class="apply-image-profile"
          color="primary" 
            mat-mini-fab 
          (click)="UploadImageProfile(refFile,refImg)">
            <mat-icon >done</mat-icon>
        </button>
        </div>
       
      </mat-card-header>
      <mat-divider>
      </mat-divider>
    <mat-card-content>
        <div>
            <div class="title">General Info</div>
            <h1>Total Teachers:{{totalTeachers}}</h1>
            <h1>Total Students:{{totalStudents}}</h1>
        </div>
    </mat-card-content>
</mat-card>
<app-my-table
[detailsComonentUrl]="'userDetails'"
[AddRowParent]="AddRow"
[DeleteRowParent]="DeleteRow"
[displayedColumns]="displayedColumns"
[FilterPredicateParent]="FilterPredicateParent"
[displayedNameColumns]="displayedNameColumns"
[operations]="[false,true,true]"
[getDataTable]="this.httpUsersService.GetUsersByGroupId(group.id!)"
[singleTitle]="group.name!"
></app-my-table>
