
<mat-card>
    <mat-card-header>
        <div class="container-image-profile">
           <img  #refImg mat-card-lg-image matCardAvatar [src]="GetImageProfile()">
        <button color="accent" class="edit-image-profile" mat-mini-fab (click)="refFile.click()">
            <mat-icon>edit</mat-icon>
          <input mat-button  class="hidden BtnFiles" formControlName="files" #refFile type="file">
        </button>
        <button 
          *ngIf="refFile.files?.length"
          class="apply-image-profile"
          color="primary" 
            mat-mini-fab 
          (click)="UploadImageProfile(refFile,refImg)">
            <mat-icon >done</mat-icon>
        </button>
        </div>
       
      </mat-card-header>
      <mat-divider>
      </mat-divider>
    <mat-card-content>
      <div class="left">
        <h1 class="title">Basic Info</h1>
        <h2>Group:{{group.name}}</h2>
        <mat-divider>
        </mat-divider>
        <h2>Opening Date:{{group.openingDate|date}}</h2>
        <mat-divider>
        </mat-divider>
        <h2>Closing Date:{{group.closingDate|date}}</h2>
      </div>
      <div class="right">
        <h1 class="title">General Info</h1>
        <h2>Total Teachers:{{totalTeachers}}</h2>
        <mat-divider>
        </mat-divider>
        <h2>Total Students:{{totalStudents}}</h2>
      </div>
           

    </mat-card-content>
</mat-card>
<app-my-table
[detailsComonentUrl]="'userDetails'"
[AddRowParent]="AddRow"
[DeleteRowParent]="DeleteRow"
[displayedColumns]="displayedColumns"
[FilterPredicateParent]="FilterPredicateParent"
[displayedNameColumns]="displayedNameColumns"
[operations]="[false,true,true]"
[getDataTable]="this.httpUsersService.GetUsersByGroupId(group.id!)"
[singleTitle]="group.name!"
></app-my-table>
