/* You can add global styles to this file, and also import other style files */

:root {
  --primary: #ff6d00;
  /* --primary: #f62840; */
  /* --warn: #1868d8 */
  --warn: #3949ab
}
html{
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image:linear-gradient(328deg, black, transparent,black),
    url("../src/assets/images/background.jpg") ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainContainer{
  min-height: 74vh;
}

a {
  text-decoration: none !important;
}

.btnAddRowContainer {
  text-align: center !important;
  margin-bottom: 10px !important;
}
.btnAddRowContainer button{
  margin-bottom: 10px !important;
}
table,
.input-full-width {
  width: 100%;
}

.removeScroller {
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--warn);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
}



/* Start Title Style */
.title {
  background-color: var(--warn);
  padding: 12px 5px;
  font-weight: bold !important;
  color: white;
  border-radius: 5px;
  font-size: 21px !important;
  text-align: center;
}
.subTitle {
  background: var(--primary);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  font-size: 24px !important;
  margin-bottom: 3px !important;
}

@media (max-width:768px) {
  .title,.subTitle {
    margin: 15px !important;
    padding: 5px;
    font-size: 16px !important;
  }
}

/* End Title Style */

/* Start Sub Title */


/* End Sub Title */

/* Start Erorr Message */
mat-error {
  color: red !important;
}

.error-message {
  font-weight: bold !important;
  background: #e32525;
  text-align: center;
  color: white;
}

/* End Erorr Message */

.hidden {
  display: none !important;
}
