/* You can add global styles to this file, and also import other style files */

:root{
--primary:#ff6d00;
--warn:#1868d8
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
  text-decoration: none !important;
}
table,.input-full-width{
  width: 100%;
}
.removeScroller{
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



/* Start Title Style */
.title{
  background: #ff6d00;
  padding: 20px 5px;
  font-weight: bold !important;
  color: white;
  border-radius: 5px;
  text-align: center;
}

@media (max-width:768px) {
  .title{
    margin: 15px !important;
  }
}

/* End Title Style */

/* Start Sub Title */
.subTitle{
  background-color: var(--warn);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  margin-bottom: 3px !important;
}
/* End Sub Title */

 mat-error{
color: red !important;
}
