mat-checkbox{
    display: block;
    font-size: 20px;
    padding: 5px;
    transition: unset;
}
::ng-deep mat-checkbox .mat-checkbox-layout{
    display: flex;
    flex-direction: row-reverse;
    transition: unset;
}

mat-checkbox:hover{
background-color: var(--warn);
}

mat-checkbox:hover ::ng-deep .mat-checkbox-layout{
    color: white;
}