<app-top-page 
    title="دورة اللغة العبرية – مستوى רמה ב">
</app-top-page>

<div class="course">
    <div class="right">
        <div class="summary show-me">
            يتكون مستوى ב من 150 ساعة أكاديمية, يتوسع فيها الطالب بتعلم مفردات اللغة العبرية وقواعدها من كتاب עברית בשניים وهو أحد الكتب المعتمدة في الجامعة العبرية وكراسة التمارين الخاصة به.
        </div>
        <div class="summary show-me">
            ينكشف الطالب في هذا المستوى على أكثر من 800 كلمة جديدة في اللغة العبرية ويتوقع منه أن يتذكر أكثر من ثلاث أرباعهم, بالاضافة الى تعلم عدة مباني قواعدية من أجل مساعدته على تركيب الجمل المختلفة.
        </div>
        <div class="summary show-me">
            في نهاية المستوى سيستطيع الطالب التواصل شفهياً وسماعياً باللغة العبرية المتوسطة , كتابة مواضيع انشائية حتى 150 كلمة مستخدماً القواعد المختلفة والافعال المنتمية للمباني السبع الأولى في اللغة العبرية بالأزمنة المضارع والماضي المستقبل والأمر. قراءة النصوص الملائمة لمستوى ב وتحليلها.
        </div>
        <div class="summary show-me">
            من أجل مرور مستوى ב على الطالب أن يحصل على علامة 60 على الأقل في كل من الامتحانات اليومية, الامتحان النصفي, الامتحان السماعي, الامتحانات الشفهية وتقديم 5 مواضيع إنشاء على الأقل والنجاح في الامتحان النهائي للمستوى.
        </div>
        <button class="main-button" mat-raised-button routerLink="/contact-us">سجل معنا</button>
    </div>

    <div class="left">
        <img class="img-1" src="../../../../../assets/images-guest/hebrew2.png" alt="">
        <img class="img-2" src="../../../../../assets/images-guest/hebrew2_2.png" alt="">
    </div>
</div>